extends ./layout.jade
block otherPage
    div
        p
            h1 add
            form(action='/main/add' method='post')
                p
                    | title : 
                    input(type='text' name='title' placeholder='title')
                p
                    | author : &nbsp;
                    = user.displayName 
                p
                    | description : 
                    textarea(name='description' placeholder='description')
                p
                    input(type='submit' value='작성')

