extends ./layout.jade
block otherPage
    div
        p
            h1 add
            form(action='/main/add' method='post')
                p
                    input(type='text' name='title' placeholder='title')
                p
                    input(type='text' name='author' placeholder='author')
                p
                    textarea(name='description' placeholder='description')
                p
                    input(type='submit' value='작성')

