extends ./layout.jade
block otherPage
    article
        p
            if content
                p
                    h1= content.title
                p
                    |author : 
                    = content.author
                p 
                    = content.description
                p
                    = content.date
                
            else
                h1 welcome

    div            
        if content
            |delete?
            p 
                form(action='/main/'+content.id+'/delete' method='post')
                    input(type='submit' value='yes')
            p
                form(action='/main/'+content.id method='get')
                    input(type='submit' value='no')
            