doctype html
html
    head
        meta(charset='utf-8')    
    body
        h1
            a(href='/main') nodejs practice page
        
        div
            p
                ul
                    each content in contents 
                        li
                            a(href='/main/' + content.id)= content.title
        
        article
            p
                if content
                    p
                        h1= content.title
                    p
                        |author : 
                        = content.author
                    p 
                        = content.description
                    p
                        = content.date
                    
                else
                    h1 welcome

        div            
            if content
                |delete?
                p 
                    form(action='/main/'+content.id+'/delete' method='post')
                        input(type='submit' value='yes')
                p
                    form(action='/main/'+content.id method='get')
                        input(type='submit' value='no')
                