extends ./layout.jade
block otherPage
    div
        p
            h1 edit
            form(action='/main/'+content.id+'/edit' method='post')
                p
                    |title : 
                    input(type='text' name='title' placeholder='title' value=content.title)
                p
                    |author :
                    input(type='text' name='author' placeholder='author' value=content.author)
                p
                    |description :
                    textarea(name='description' placeholder='description')
                        =content.description
                p
                    input(type='submit' value='수정')

