extends ./layout.jade
block otherPage
    article
        p
            if content
                p
                    h1= content.title
                p
                    |author : 
                    = content.author
                p 
                    = content.description
                p
                    = content.date
                
            else
                h1 welcome

    div
        p
            a(href='/main/add') add
        
        if content
            p 
                a(href='/main/' + content.id + '/edit') edit
            p
                a(href='/main/' + content.id + '/delete') delete
            
            

